aiohttp==3.14.3
aiosqlite==0.22.1
attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.2
chardet==7.6.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==50.0.1
docutils==0.23
filelock==3.32.5
h2==4.4.1
HTMLParser==0.0.2
ipython==9.17.1
ipywidgets==8.1.9
jnius==1.1.0
js==1.0
keyring==25.7.0
Pillow==12.3.0
protobuf==7.36.1
pyodide==0.0.2
pyOpenSSL==26.4.0
python-dotenv==1.2.3
python-telegram-bot==22.8
redis==8.1.0
simplejson==4.1.2
Sphinx==9.1.0
thread==2.0.6
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
